body.iframes {
    background-image: none;
    background-color: var(--negro);
}
.iframe {
    padding-top: 4%;
    width: 100%;
    height: 100%;
}

.iframe iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}